[submodule "Vendors/imgui"]
	path = Vendors/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "Vendors/SDL"]
	path = Vendors/SDL
	url = git@github.com:libsdl-org/SDL.git
	branch = SDL2
[submodule "Vendors/glm"]
	path = Vendors/glm
	url = git@github.com:g-truc/glm.git
